.background    { background: white;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(0, 255, 0); }
.wall          { background: rgb(192, 192, 192);   }
.floater       {background: rgb(0, 0, 255);}

.game {
  position: relative;
}
